version: "3.9"

services:
  db:
    image: postgis/postgis:15-3.4
    env_file: .env
    environment:
      - POSTGRES_DB
      - POSTGRES_HOST
      - POSTGRES_PORT
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ports: ["5432:5432"]
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./infra/db/init.sql:/docker-entrypoint-initdb.d/10_init.sql:ro
      - ./infra/db/postgis-indexes.sql:/docker-entrypoint-initdb.d/20_indexes.sql:ro

  minio:
    image: quay.io/minio/minio:RELEASE.2024-08-03T04-33-23Z
    env_file: .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports: ["9000:9000", "9001:9001"]
    volumes:
      - minio_data:/data

  backend:
    build: ./AiLowCurrentEngineer
    env_file: .env
    environment:
      - SPRING_PROFILES_ACTIVE
      - POSTGRES_DB
      - POSTGRES_HOST
      - POSTGRES_PORT
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - S3_ENDPOINT
      - MINIO_ROOT_USER
      - MINIO_ROOT_PASSWORD
      - S3_BUCKET_RAW
      - S3_BUCKET_EXPORTS
      - PLANNER_URL
      - JWT_SECRET_BASE64
      - JWT_TTL_MS
    ports: ["8080:8080"]
    depends_on: [db, minio, planner]

  planner:
    build: ./AiLowCurrentEngineerPy
    env_file: .env
    environment:
      - RULES_PATH=/app/rules.json
      - S3_ENDPOINT
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_BUCKET_EXPORTS
    volumes:
      - ./samples/rules/rules_ru_gost_example.json:/app/rules.json:ro
      - ./samples/dxf/:/data/:ro
      - ./samples:/samples:ro

    ports: ["8000:8000"]

  minio-init:
    image: quay.io/minio/mc
    env_file: .env
    depends_on: [minio]
    entrypoint: ["/bin/sh","-c"]
    command: >
      mc alias set local "$S3_ENDPOINT" "$S3_ACCESS_KEY" "$S3_SECRET_KEY" &&
      until mc ready local; do sleep 1; done &&
      mc mb -p "local/$S3_BUCKET_RAW" || true &&
      mc mb -p "local/$S3_BUCKET_EXPORTS" || true
    restart: "no"

volumes:
  db_data: {}
  minio_data: {}
