server:
  port: 8080

spring:
  application:
    name: AiLowCurrentEngineer
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

s3:
  endpoint: ${S3_ENDPOINT}
  accessKey: ${S3_ACCESS_KEY}
  secretKey: ${S3_SECRET_KEY}
  bucketRaw: ${S3_BUCKET_RAW}
  bucketExports: ${S3_BUCKET_EXPORTS}

planner:
  url: ${PLANNER_URL}
