server:
  port: 8080

spring:
  application:
    name: AiLowCurrentEngineer
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  thymeleaf:
    cache: false
  sql:
    init:
      mode: never
security:
  jwt:
    secret: ${JWT_SECRET_BASE64}
    ttlMillis: ${JWT_TTL_MS}

planner:
  url: ${PLANNER_URL}

s3:
  endpoint: ${S3_ENDPOINT}
  access-key: ${S3_ACCESS_KEY}
  secret-key: ${S3_SECRET_KEY}
  bucket-raw: ${S3_BUCKET_RAW}
  bucket-exports: ${S3_BUCKET_EXPORTS}
